body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.abc {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;   
}
h1 {
    text-align: center;
}
